.DS_Store
/.cache
/**/build
/**/build.*
/.idea/
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
DartConfiguration.tcl
__pycache__
/.vscode
*.dSYM
testbracket
testmvmap
testdf
test/TestGraph/testgraph
test/include/wheredev
a.out
