name: Pull Request Quality Check

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest git+https://github.com/llnl/clippy@v0.4.2

      - name: Install Boost
        uses: MarkusJx/install-boost@v2
        id: install-boost
        with:
          # REQUIRED: Specify the required boost version
          # A list of supported versions can be found here:
          # https://github.com/MarkusJx/prebuilt-boost/blob/main/versions-manifest.json
          boost_version: 1.87.0
          # OPTIONAL: Specify a platform version
          # platform_version: 18.04
          # OPTIONAL: Specify a custom install location
          boost_install_dir: /home/runner/work/boost
          # OPTIONAL: Specify a toolset
          toolset: gcc
          # OPTIONAL: Specify an architecture
          # arch: x86

      - name: Build backend
        id: build-backend
        env:
          BOOST_ROOT: ${{ steps.install-boost.outputs.BOOST_ROOT }}
        run: |
          echo BOOST_ROOT is $BOOST_ROOT /end/
          sudo apt install doxygen
          # TMPDIR=$(mktemp -d)
          # git clone https://github.com/LLNL/clippy-cpp --branch $GITHUB_HEAD_REF $TMPDIR
          
          mkdir -p build
          cd build && cmake -DMODERN_CMAKE_BUILD_TESTING=ON -DBUILD_TESTING=ON -DBOOST_ROOT=$BOOST_ROOT .. && make && cd ..
          ls -l build/test
          BACKEND=$PWD/build/test
          echo "BACKEND=$BACKEND" >> $GITHUB_ENV

      - name: Run Python test framework
        env:
          CLIPPY_BACKEND_PATH: ${{ github.workspace }}/build/test
          # CLIPPY_BACKEND_PATH: ${{ env.BACKEND }}
        run: |
          echo "backend = $CLIPPY_BACKEND_PATH"
          pytest .
